:root {
  --main-blue: #1589C2;  
  --selected-blue: #296380;
  --main-green: #E5F3EC;
}
#root{
  max-width: 100vw;
  max-height: 100vh;
}
body{
  max-width: 1920px;
  max-height: 1080px;
  margin: auto auto;
}
.logo {
  width: 120px;
  height: auto;
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 16px 28px 16px 28px;
  float: left;
}
.App{
  border-top: 10px solid #02A95A;
}

.site-layout-background {
  background-color: var(--main-green);
  height: 100%;
}
.site-layout-background2{
  background-color: #f9f9f9;
}
.site-layout-background .ant-row{
  width: 100%;
  max-height: 100%;
}
.App>.ant-layout>.ant-layout-content{
  padding: 10px 80px 0px 80px;
  height: 90vh;
  background-color: #fff;
}
.contentHolder{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto auto; */
}
.contentHolderChild{
  width: auto;
  height: auto;
}
/* .carousel-item{
  max-width: 100% !important;
  max-height: 100% !important;
} */
.carousel-caption p{
  color: black;
}
@media(min-width:993px){
  .carousel{
    max-width: 1024px;
  }
}

  .d-block{
    max-width: 100% !important;
    height: auto !important; 
  box-shadow: 0px 0px 10px #DFDFDF;
  }

/* .site-layout-background .ant-col  */
.ant-layout-header{
  background-color: #fff;
  padding: 0px 80px;
}
.ant-layout-sider{
  float: right;
}
.bigMenuHolder{
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.bigMenuHolder li{
  list-style-type: none;
  margin: 0px 5px 0px 5px ;
}
.bigMenuHolder button{
  border: none;
  background-color: #fff;
  color: var(--main-blue);
  font-weight: bold;
  font-size: 16px;
  outline: none !important;
  transition: background-color 300ms;
}
.bigMenuHolder button:hover{
  background-color: #dfdfdf;
}
.selectedMenu{
  color: var(--selected-blue) !important;
  text-decoration: underline;
}


/* MENU CSS OVER */

/* CONTENT CSS */

.content-big-sider{
  padding: 0px 20px 0px 20px;
  width: 100%;
  height: 100%;
  min-height: 480px;
  background-color: #E5F3EC;
}
@media(max-width: 1275px){
.content-big-sider{
  height: 60vh;
}

}
.givShadow{
  box-shadow: 0px 0px 10px #DFDFDF;
}

.sliderCreate{
  height: 100%;
  width: 60px;
  float: right;
  background-color: #f9f9f9;
  border-radius: 35px;
  box-shadow: 0px 0px 10px #DFDFDF;
}

.animateSlider{
  animation-name: setHeight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes setHeight{
  from{width: 60px;}
  to{width: 100%;}
  from{border-radius: 35px;}
  to{border-radius: 0px;}
}

.animateSliderOut{
  animation-name: setHeightOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes setHeightOut{
  from{width: 100%;}
  to{width: 60px;}
  from{border-radius: 0px;}
  to{border-radius: 35px;}
}

.helpImg{
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  flex-direction: column;

}
.helpImg img{
  width: 30px;
  height: 30px;
  margin: 15px 15px 7.5px 15px;
}

.speechtoText{
  position: absolute;
  bottom: 0px;
  right: 15px;
  height: 200px;
  width: 90%;
  background-color: #A7CFE2;
  border-radius: 8px;
}

.animateSpeech{
  animation-name: setSpeechHeight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes setSpeechHeight{
  from{height: 200px;}
  to{height: 50px;}
}
.animateSpeechOut{
  animation-name: setSpeechHeightOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes setSpeechHeightOut{
  from{height: 50px;}
  to{height: 200px;}
}
.speechtoText img{
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: -10px;
  right: -10px;
}
.speechtoText textarea{
  width: 80%;
  height: 100%;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  overflow-wrap: break-word;
  z-index: 100;
}

.sizeToggle{
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.sizeToggle>img{
  margin-left: 10px;
  width: 20px;
  height: 20px;
  transition: all 0.4s ease;
}

@media(max-width:1270px){
  .speechtoText textarea{
    width: 68%;
  }
}

.affiliates{
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.affiliates img{
  width: 30%;
  height: auto;
  max-width: 135px;
}

.steps{
  padding: 10px 30px;
}
.step{
  width: 20%;
  float: left;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.stepLoading{
  width: 100%;
  display: flex;
  /* transition: ; */
}
.step-text{
  width: 100%;
  height: auto;
}
.step-text h5{
  color: var(--main-blue);
  font-weight: bold;
  margin-left: 5px;
}
.circle{
  text-align: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  /* padding-top: 10%; */
  /* flex-grow: 1; */
  background-color: var(--selected-blue);
  color: #fff;
  margin-top: 7.5px;
  position: relative;
  transition: color 0.2s;
}
.circle p{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 12px;
  font-weight: bold;
}

.bar{
/* float: left; */
  /* width: 90%; */
  height: 5px;
  border-radius:2px;
  margin-top: 15px;
  background-color: #fff;
  flex-grow: 10;
  position: relative;
}

.innerBar{
  height: 100%;
  background-color: var(--main-blue);
  border-radius: inherit;
  transition: width 500ms;
}


.selectedStep .circle{
  background-color: #FFC803;
  color: var(--selected-blue);
}
.selectedStep .innerBar{
  background-color: #FFDC60;
}

.messages{
  /* position: relative; */
  width: 90%;
  margin:0px 0px 0px 40px;
  height: 90%;
  padding-top: 20px;
  /* white-space: nowrap; */
  overflow-y: auto;
  display: none;
  scroll-behavior: smooth;
}
.patient{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  /* display: flex; */
  text-align: left;
}
.patient .message-box{
  display: inline-block;
  width: 70%;
  background-color: var(--main-green);
  color: black;
  border-radius: 4px;
  box-shadow: 0px 0px 4px lightgray;
  padding: 10px;
}

.doctor{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  /* display: flex; */
  text-align: right;
}
.doctor .message-box{
  display: inline-block;
  width: 70%;
  background-color: var(--main-blue);
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 4px lightgray;
  padding: 10px;
  margin-right: 10px;
}

.ant-dropdown-link{
  float: right;
  border: none;
  outline: none !important;
  background-color: #fff;
  margin: 10px 2px 10px 2px;
}
/* MOBILE VERSION CSS */

@media(max-width:992px){
  .App{
    border-color: var(--selected-blue) !important; 
  }
  .ant-layout-header{
    padding: 0px 10px;
  }
  .App>.ant-layout>.ant-layout-content{
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 90vh;
    min-height: 550px;
  }
  .mobileContainer{
    width: 100%;
    height: 100%;
  }
  .site-layout-background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: height 500ms ease;
  }

.upButton{
  /* align-self: flex-end; */
  cursor: pointer;
  transition: all .2s ease-in-out; 
  margin-top: 50px;

}
.upButton:hover{
  transform: scale(1.4);
}
/* Carousel css */
  .carousel{
    width: 80vw;
    height: auto;
    transition: width 0.2s;
    box-shadow: 0px 0px 5px lightgrey;
  }

  .steps{
    width: 100%;
  }
  .steps h5{
    font-size: 12px;
  }
  /* input css */
  .floating-input{
    width: 100vw;
    position: fixed;
    left: 10px;
    bottom: 10px;
    height: 50px;
    background-color: #fff;
  }
  .speechtoText{
    height: 90%;
    width: 98%;
  }
  
  .speechtoText input{
    width: 85%;
    height: 100%;
    margin: 0px 0px 5px 5px;
    border: none;
    border-radius: 4px;
  }
  .messages{
    display: block;
    width: 80%;
    margin: 0px;
    padding-left: 20px;
    float: left;
  }
  .messageContainer{
    /* display: none; */
    width: 100%;
    height: 0px;
    opacity: 0;
    margin-top: 10px;
    transition: opacity 0.6s;
    overflow: hidden;
  }
  .message-box{
    max-width: 70%;
    width: auto !important;
  }

  .mhelpButtons{
    position: fixed;
    width: 35px;
    height: 35px;
    right: 12px;
   /* transform: translateX(5px) */
  }
  .mhelp{
    bottom:80px  
  }
  .mques{
    bottom: 130px;
  }
  .otherMenu{
      float: left;
      width: 20%;
      /* overflow: hidden; */
  }
  .otherMenu div{
    background-color: rgba(167, 207, 226, 1);
    border-radius: 15px;
    width: 150px;
    height: 32px;
    margin-bottom: 5px;
    padding: 2px 0px 2px 6px;
    box-shadow: 0px 0px 4px lightgrey;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .otherMenu div:hover{
    background-color:rgba(115, 192, 228, 1);
  }
  .animateOut{
    animation: outit 0.3s;
    animation-fill-mode: forwards;
  }
  @keyframes outit {
    from{transform: translateX(0px);}
    to{transform: translateX(-55px);}
  }
  .animateIn{
    animation: init 0.3s;
    animation-fill-mode: forwards;
  }
  @keyframes init {
    from{transform: translateX(-55px);}
    to{transform: translateX(0px);}
  }

  .otherMenu img{
    width: 25px;
    height: 25px;
  }

}
@media(max-width: 380px){
  .steps{
    padding: 0px 20px
  }
  .steps h5{
    font-size: 10px;
  }
}

/* @media(max-width:992px) and (min-width:540px){
  .carousel{
    width: 40%;
  }
}  */
